alugridversion
*.pyc
.project
.pydevproject
m2ps
ugmesh
ugmgs2
ugmgs3
ugnetgen
ugpfm2
ugpfm3
ugstl
activate*
python*
pip*
easy_install*
coverage*
f2py*
isympy
nosetests*
pep8
.kateproject.d
autosummary_generate
cygdb
cython
gccxml
gccxml_cc1plus
ipcluster*
ipcontroller*
ipdb
ipengine*
iplogger
iptest*
ipython*
irunner
pycolor
pygmentize
pyside-uic
pyside_postinstall.py
rst2html.py
rst2latex.py
rst2man.py
rst2odt.py
rst2odt_prepstyles.py
rst2pseudoxml.py
rst2s5.py
rst2xetex.py
rst2xml.py
rstpep2html.py
sphinx-apidoc
sphinx-autogen
sphinx-build
sphinx-quickstart
*alberta*
stq
cythonize
py.test*
jsonschema
pybabel
wheel
